pyttsx3 == 2.90
SpeechRecognition == 3.8.1
pywin32 == 300
pypiwin32 == 223
comtypes == 1.1.8
PyAudio == 0.2.11
pyinstaller == 4.1
pyautogui == 0.9.52
opencv-python == 4.4.0.46
PyAutoGUI == 0.9.52
numpy == 1.19.3
pyscreenshot == 2.3
pytesseract == 0.3.7